<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<script src="js/jquery-1.7.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="js/DD_belatedPNG-min.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>	
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div class="shell">
			<!-- Header -->
			<div id="header">
				<!-- Logo -->
				<h1 id="logo"><a href="#" title="home">GreenLogo</a></h1>
				<div class="socials">				
					<a title="in" class="in" href="#">in</a>
					<a title="twitter" class="twitter" href="#">twitter</a>
					<a title="flickr" class="flickr" href="#">flickr</a>
					<a title="Facebook" class="facebook" href="#">Facebook</a>
					<div class="cl"></div>							
				</div>			
			</div>
			<!-- END Header -->
			<!-- Navigation -->
			<div id="navigation">
				<ul>
					<li class="nav-start"><a title="Home" href="#">Home</a></li>
					<li><a title="Who We Are" href="#">Who We Are</a></li>
					<li><a title="Our Projects" href="#">Our Projects</a></li>
					<li><a title="What We Do" href="#">What We Do</a></li>
					<li><a title="How We Do" href="#">How We Do</a></li>
					<li class="nav-end"><a title="Get In Touch" href="#">Get In Touch</a></li>				
				</ul>
				<div class="cl"></div>
			</div>
			<!-- END Navigation -->
			<!-- Main -->
			<div id="main">
				<div id="main-top"></div>
				<div id="main-middle">
					<!-- Slider -->
					<div id="slider">
						<ul>
							<li>
								<img src="css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2>Some <span>Big</span> And <span>Nice</span> Tittle Goes Here</h2>
									<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Curabitur eget nibh id enim laoreet euismod eget ac orci.<br /> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <span><strong>Cras pellentesque euismod.</strong></span></p>
								</div>	
							</li>
							<li>
								<img src="css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2>Some <span>Big</span> And <span>Nice</span> Tittle Goes Here</h2>
									<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Curabitur eget nibh id enim laoreet euismod eget ac orci.<br /> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <span><strong>Cras pellentesque euismod.</strong></span></p>
								</div>	
							</li>
							<li>
								<img src="css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2>Some <span>Big</span> And <span>Nice</span> Tittle Goes Here</h2>
									<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Curabitur eget nibh id enim laoreet euismod eget ac orci.<br /> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <span><strong>Cras pellentesque euismod.</strong></span></p>
								</div>	
							</li>
							<li>
								<img src="css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2>Some <span>Big</span> And <span>Nice</span> Tittle Goes Here</h2>
									<p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit.<br /> Curabitur eget nibh id enim laoreet euismod eget ac orci.<br /> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices<br /> posuere cubilia Curae; <span><strong>Cras pellentesque euismod.</strong></span></p>
								</div>	
							</li>
						</ul>
						<div id="slider-nav">
							<ul>
								<li><a title="Service 1" href="#">Service 1<span>Integer gravida</span></a></li>
								<li><a title="Service 2" href="#">Service 2<span>Nulla venenatis urna vel</span></a></li>
								<li><a title="Service 3" href="#">Service 3<span>Ut eget lorem sit amet</span></a></li>
								<li class="last"><a title="Service 4" href="#">Service 4<span>Sed vitae nunc arcu</span></a></li>
							</ul>
						</div>
					</div>
					<!-- END Slider -->
					<!-- Content -->
					<div id="content">
						<div class="welcome-post">
							<h3>Welcome in Green Template</h3>
							<img src="css/images/welcome-img.jpg" alt="Template image" />									
							<p><em><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nibh id enim laoreet euismod eget ac orci. </strong></em></p>
							<p><strong>Vestibulum ante ipsum primis</strong> in faucibus orci luctus et ultrices posuere cubilia Curae; Cras pellentesque euismod fringilla. Sed vitae ante lectus, non fringilla nibh. Aenean vitae odio ac risus aliquam malesuada. <a title="Quisque" href="#">Quisque mollis</a> mauris quis odio bibendum consectetur.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nibh id enim laoreet euismod eget ac orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras pellentesque euismod fringilla.</p>
							<div class="cl"></div>
							<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;Read More</a></span>
						</div>
					</div>
					<!-- END Content -->
					<!-- Sidebar -->
					<div id="sidebar">
						<div class="widget">
							<h3>Testimonials</h3>
							<p class="quote">Fusce laoreet mattis nisi, quis condimentum orci feugiat et. Quisque pretium purus quis tortor elementum molestie. Fusce arcu velit, mollis euismod porttitor a, blandit sit amet est.</p>
							<p>Jon Doel <span>- Manger</span></p>
							<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;Read More</a></span>							
						</div>
					</div>
					<!-- END Sidebar -->
					<div class="cl"></div>
					<div class="columns">
						<div class="col posts">
							<h3>Latest Post</h3>
							<div class="post">
								<a class="heading" title="Praesent" href="#">Praesent Tristique Rhoncus</a>
								<p class="date">April 5, 2011</p>
								<p>Sed dignissim, felis at pharetra molestie, tellus nisi commodo lacus, at laoreet dui nunc eu nunc. In consequat varius adipiscing.</p>
								<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;More</a></span>								
							</div>
							<span class="sep"></span>
							<div class="post">
								<a class="heading" title="Morbi" href="#">Morbi mauris leo</a>
								<p class="date">April 2, 2011</p>
								<p>Sed dignissim, felis at pharetra molestie, tellus nisi commodo lacus, at laoreet dui nunc eu nunc. In consequat varius adipiscing.</p>
								<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;More</a></span>		
							</div>
						</div>
						<div class="col projects">
							<h3>Latest Projects</h3>
							<div class="post">
								<img src="css/images/project1.jpg" alt="Template image" />						
								<a class="heading" title="Fusce" href="#">Fusce laoreet mattis nisi </a>
								<p>Quis condimentum orci feugiat et. Quisque pretium purus quis tortor elementum molestie.</p>
								<div class="cl"></div>
								<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;More</a></span>									
							</div>							
							<span class="sep"></span>														
							<div class="post">
								<img src="css/images/project2.jpg" alt="Template image" />								
								<a class="heading" title="Vivamus" href="#">Vivamus ante dolor</a>
								<p>Aenean interdum, ante quis lacinia viverra, sapien mauris posuere dolor.</p>
								<div class="cl"></div>														
								<span class="read-more"><a title="Read More" href="#">&raquo;&nbsp;More</a></span>
							</div>
						</div>
						<div class="cl"></div>
					</div>
				</div>
				<div id="main-bottom"></div>
			</div>
			<!-- END Main -->
			<!-- Footer -->
			<div id="footer">
				<div id="footer-middle">
					<span class="author"><a href="http://css-free-templates.com/">Design by: CSS Free Templates</a></span>
					<p><a title="Home" href="#">Home</a><span>&#47;</span><a title="Who We Are" href="#">Who We Are</a><span>&#47;</span><a title="Our Projects" href="#">Our Projects</a><span>&#47;</span><a title="What We Do" href="#">What We Do</a><span>&#47;</span><a title="How We Do" href="#">How We Do</a><span>&#47;</span><a title="Get In Touch" href="#">Get In Touch</a></p>
				</div>	
				<div id="footer-bottom"></div>
			</div>
			<!-- END Footer -->
		</div>
	</div>
	<!-- END Wrapper -->
</body>
</html>