<html>
<head>
	<title>Plant Identification</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="../static/css/images/favicon.ico" />
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
	<script src="../static/js/jquery-1.7.min.js" type="text/javascript"></script>
	<script src="../static/js/jquery.jcarousel.js" type="text/javascript"></script>
	<script src="../static/js/DD_belatedPNG-min.js" type="text/javascript"></script>
	<script src="../static/js/functions.js" type="text/javascript"></script>	
	
<style type="text/css">
.st1
{
width:250px;
height:30px;
}
.st2
{
color:#FFFFFF;
}
.st3
{
color:#006600;
}
</style>
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div class="shell">
			<!-- Header -->
			<div id="header">
				<!-- Logo -->
				<h1 id="logo"><a href="#" title="home">Plant</a></h1>
				<!--<div class="socials">				
					<a title="in" class="in" href="#">in</a>
					<a title="twitter" class="twitter" href="#">twitter</a>
					<a title="flickr" class="flickr" href="#">flickr</a>
					<a title="Facebook" class="facebook" href="#">Facebook</a>
					<div class="cl"></div>							
				</div>			-->
			</div>
			<!-- END Header -->
			<!-- Navigation -->
			<div id="navigation">
				<ul>
					<li class="nav-start"><a title="Home" href="/">Home</a></li>
					<li><a title="Who We Are" href="/login_user">User</a></li>
							
				</ul>
				<div class="cl"></div>
			</div>
			<!-- END Navigation -->
			<!-- Main -->
			<div id="main">
				<div id="main-top"></div>
				<div id="main-middle">
					<!-- Slider -->
					<div id="slider">
						<ul>
							<li>
								<img src="../static/css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2 class="st2">Plant <span>Identification</span> </h2>
									<p class="st2"><strong>Plant Identification is defined as the systematic classification, naming, and identification of plants </strong></span></p>
								</div>	
							</li>
							<li>
								<img src="../static/css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2 class="st2">Plant <span>Identification</span> </h2>
									<p class="st2"><strong>Plant Identification is defined as the systematic classification, naming, and identification of plants </strong></span></p>
								</div>	
							</li>
							<li>
								<img src="../static/css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2 class="st2">Plant <span>Identification</span> </h2>
									<p class="st2"><strong>Plant Identification is defined as the systematic classification, naming, and identification of plants </strong></span></p>
								</div>	
							</li>
							<li>
								<img src="../static/css/images/pp.jpg" alt="A ladybug standing on some grass" />
								<div class="caption">
									<h2 class="st2">Plant <span>Identification</span> </h2>
									<p class="st2"><strong>Plant Identification is defined as the systematic classification, naming, and identification of plants </strong></span></p>
								</div>	
							</li>
						</ul>
						<div id="slider-nav">
							
						</div>
					</div>
					<!-- END Slider -->
					<!-- Content -->
					<div id="content">
						<div class="welcome-post">
							<h3>Welcome in Plant Identification </h3>
																
							
							<form name="form1" method="post">
							<table width="90%" height="55" border="0" cellpadding="5" cellspacing="5">
							<tr>
							<td width="39%" align="left">User Login</td>
							<td width="61%" align="left">&nbsp;</td>
							</tr>
							<tr>
							  <td align="left">Username</td>
							  <td align="left"><input type="text" name="uname" class="st1"></td>
							</tr>
							<tr>
							  <td align="left">Password</td>
							  <td align="left"><input type="password" name="pass" class="st1"></td>
							</tr>
							<tr>
							  <td align="left">&nbsp;</td>
							  <td align="left"><input type="submit" name="btn" value="Login" class="st1"></td>
							</tr>
							</table>
							</form>
							<a href="/register">New User</a>
							<div class="cl"></div>
							
						</div>
					</div>
					<!-- END Content -->
					<!-- Sidebar -->
					<div id="sidebar">
						<div class="widget">
							<h3>Plant</h3>
							<p class="quote">Medicinal plants have long been utilized in traditional medicine and worldwide ethnomedicine. This chapter presents a glimpse of the current status of and future trends in medicinal plant genomics, evolution, and phylogeny.</p>						
						</div>
					</div>
					<!-- END Sidebar -->
					<div class="cl"></div>
					<div class="columns">
						
						
						<div class="cl"></div>
					</div>
				</div>
				<div id="main-bottom"></div>
			</div>
			<!-- END Main -->
			<!-- Footer -->
			<div id="footer">
				<div id="footer-middle">
					<span class="author"><a href="http://css-free-templates.com/">Plant Identification</a></span>
					
				</div>	
				<div id="footer-bottom"></div>
			</div>
			<!-- END Footer -->
		</div>
	</div>
	<!-- END Wrapper -->
</body>
</html>